.news-slider {
  height: 270px;
  width: 100%;
}

.news-slider > .slick-next,
.news-slider > .slick-prev {
  z-index: 9;
  opacity: 0.9;
}

.news-slider > .slick-prev:before,
.news-slider > .slick-next:before {
  font-size: 40px;
}

.news-slider > .slick-next {
  right: 20px;
}

.news-slider > .slick-prev {
  left: 0px;
}
